* {
  text-align: center;
  background-color: pink;
  margin: 0px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  box-sizing: border-box;
}
.container_main {
  text-align: center;
  visibility: hidden;
}
.container_1 {
  background-color: rgb(201, 164, 236);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px;
}

.start {
  border-radius: 2em;
  font-size: larger;
  font-weight: bold;
}
.start:hover {
  background-color: #abf4ae;
}
.player_1 {
  background-color: rgb(223, 223, 114);
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}
.player_2 {
  background-color: rgb(223, 223, 114);
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
}
.container_main div {
  padding: 20px;
  font-size: 30px;
  border: 2px solid black;
}
.container_2 {
  background-color: lightgrey;
  display: flex;
  height: 100vh;
  margin-left: 25%;
  margin-right: 25%;
}
.game-tiles {
  background-color: purple;
  /* margin: 0px; */
  width: 640px;
  height: 640px;
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  /* height: 50%;
  width: 50%; */
}
.tiles {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.tiles:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}
.tiles.flip {
  transform: rotateY(180deg);
}

.shuffled,
.original {
  width: 100%;
  height: 100%;
  /* width: calc(0% - 10px);
  height: calc(33.333% - 10px); */
  padding: 5px;
  position: absolute;
  border-radius: 5px;
  background: #1c7ccc;
  backface-visibility: hidden;
}
.shuffled {
  transform: rotateY(180deg);
}
